Source: words-picker
Version: 53.8.0
Section: base
Priority: optional
Maintainer: Daryl.Xu <ziqiang_xu@qq.net>
Depends: tesseract-ocr,libqt5sql5,libqt5widgets5,libqt5x11extras5,libqt5network5,libqt5core5a,libqt5gui5
Standards-Version: 53.8.0
Homepage: https://github.com/ziqiangxu/words-picker
Package: words-picker
Architecture: amd64
Description: A simple dictionary, an awesome words picker.
