Source: freedict
Version: 2017-4.0
Section: base
Priority: optional
Maintainer: Daryl <ziqiang_xu@yeah.net>
Depends: debhelper (>= 9)
Standards-Version: 2018-4.0
Homepage: https://github.com/ziqiangxu/freedict
Package: freedict
Architecture: amd64
Description: A simple dictionary for Linux.
