Source: freedict
Version: 2018-5.2
Section: base
Priority: optional
Maintainer: Daryl <ziqiang_xu@yeah.net>
Depends: tesseract-ocr,libqt5sql5
Standards-Version: 2018-5.2
Homepage: https://github.com/ziqiangxu/freedict
Package: freedict
Architecture: amd64
Description: A simple dictionary for deepin.
